# DE Zoomcamp 2023 - Homework 1

### Question 1. Knowing docker tags

I ran _'docker --help'_

Commands:

        build       Build an image from a Dockerfile
  

Run 'docker COMMAND --help' for more information on a command.


I ran _'docker build --help'_ and it returns these:

      *--iidfile string          Write the image ID to the file*  >**Answer**

### Question 2. Understanding docker first run

I ran the command _'docker run -it --entrypoint=bash python:3.9'_

And also ran the command _'pip list'_ immediately after the first ran successfully, and it returns the following:

    Package         Version
    ----------      -------
    pip        22.0.4

    setuptools 58.1.0

    wheel      0.38.4

*Answer = 3*

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv.gz')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [3]:
# Command to download zone lookup file
!wget "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv" -O "zone_lookup.csv"

--2023-01-25 15:17:56--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.37.208, 52.217.132.104, 54.231.233.24, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.37.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘zone_lookup.csv’

zone_lookup.csv     100%[===================>]  12.03K  --.-KB/s    in 0.003s

2023-01-25 15:17:57 (4.47 MB/s) - ‘zone_lookup.csv’ saved [12322/12322]

In [4]:
lookup_df = pd.read_csv("zone_lookup.csv")
lookup_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
engine1 = create_engine('postgresql://postgres:root@localhost:5432/ny_taxi')
engine1.connect()

In [6]:
# DDL Data Definition Language
print(pd.io.sql.get_schema(lookup_df, name='lookup_zone', con=engine1))
lookup_df.head(n=0).to_sql(name='lookup_zone', con=engine1, if_exists='replace')
%time lookup_df.to_sql(name='lookup_zone', con=engine1, if_exists='append')

CREATE TABLE lookup_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)


CPU times: user 9.25 ms, sys: 768 µs, total: 10 ms
Wall time: 14 ms

In [7]:
print(pd.io.sql.get_schema(df, name='green_taxi_trips'))

CREATE TABLE "green_taxi_trips" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [8]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [9]:
# DDL Data Definition Language
print(pd.io.sql.get_schema(df, name='green_taxi_trips'))

CREATE TABLE "green_taxi_trips" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [10]:
engine = create_engine('postgresql://postgres:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [12]:
print(pd.io.sql.get_schema(df, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [13]:
query = """
SELECT COUNT(1)
FROM green_taxi_trips;
"""
pd.read_sql(query, con=engine)

    count
0  630918

In [14]:
query = """
SELECT *
FROM green_taxi_trips
LIMIT 10;
"""
pd.read_sql(query, con=engine1)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,...,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,...,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,...,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,...,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,...,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None
5,5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,...,0.5,0.5,0.00,0.0,None,0.3,7.80,1,1,None
6,6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,...,0.5,0.5,0.00,0.0,None,0.3,14.80,1,1,None
7,7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,...,0.5,0.5,0.00,0.0,None,0.3,17.30,1,1,None
8,8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,...,0.5,0.5,0.00,0.0,None,0.3,26.80,1,1,None
9,9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,...,0.5,0.5,0.00,0.0,None,0.3,16.80,1,1,None

In [15]:
query = """
SELECT COUNT(1)
FROM lookup_zone;
"""
pd.read_sql(query, con=engine1)

   count
0    265

In [16]:
query = """
SELECT *
FROM lookup_zone
LIMIT 10;
"""
pd.read_sql(query, con=engine1)

   index  LocationID        Borough                     Zone service_zone
0      0           1            EWR           Newark Airport          EWR
1      1           2         Queens              Jamaica Bay    Boro Zone
2      2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3      3           4      Manhattan            Alphabet City  Yellow Zone
4      4           5  Staten Island            Arden Heights    Boro Zone
5      5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6      6           7         Queens                  Astoria    Boro Zone
7      7           8         Queens             Astoria Park    Boro Zone
8      8           9         Queens               Auburndale    Boro Zone
9      9          10         Queens             Baisley Park    Boro Zone

In [17]:
df.shape

(630918, 20)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  630918 non-null  datetime64[ns]
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: datetime64[ns](2), float64(10), int64(7), object(1)
memory usage: 96.3+ MB

### Question 3. Count records

In [19]:
# Count records of taxi trips that were totally made on January 15
df[(df['lpep_pickup_datetime'] >= '2019-01-15 00:00:00') & (df['lpep_dropoff_datetime'] < '2019-01-16 00:00:00')].shape[0]

20530

### Question 4. Largest trip for each day

In [20]:
# filter the dataframe by maximum trip distance and select pickup time
df[df['trip_distance'] == df['trip_distance'].max()].lpep_pickup_datetime

297377   2019-01-15 19:27:58
Name: lpep_pickup_datetime, dtype: datetime64[ns]

### Question 5. The number of passengers

In [21]:
# Check that pickup time is between 2019-01-01 00:00:00 and 2019-01-02 00:00:00 how many trips had 2 and 3 passengers?
df[(df['lpep_pickup_datetime'] >= '2019-01-01 00:00:00') & (df['lpep_pickup_datetime'] < '2019-01-02 00:00:00')]['passenger_count'].value_counts()

1    12415
2     1282
5      616
6      273
3      254
4      129
0       21
Name: passenger_count, dtype: int64

### Question 6. Largest tip

In [22]:
astoria_id = lookup_df[lookup_df['Zone'] == 'Astoria']['LocationID'].values[0]
astoria_df = df[df['PULocationID'] == astoria_id]
drop_off_id = astoria_df[astoria_df['tip_amount'] == astoria_df.tip_amount.max()].DOLocationID.values[0]
lookup_df[lookup_df["LocationID"] == drop_off_id]['Zone'].values[0]

'Long Island City/Queens Plaza'