In [2]:
# Importing all necessary libraries

import pandas as pd
from pyspark.sql import DataFrame, SparkSession
from pyspark.sql.functions import dayofmonth
from pyspark.sql.types import *

In [3]:
spark = SparkSession.builder\
            .master("local[*]")\
            .appName("assignment-notebook")\
            .getOrCreate()

23/03/06 16:31:15 WARN Utils: Your hostname, USERs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.11.129 instead (on interface en0)
23/03/06 16:31:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 16:31:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/06 16:31:21 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/03/06 16:31:21 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

## Q1.

In [4]:
spark.version

'3.3.2'

In [36]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-06 14:51:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T135108Z&X-Amz-Expires=300&X-Amz-Signature=5473db370e43548381ba9895119ade967ace1a686a88c77a65a35245993eafe9&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-06 14:51:06--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T135108Z&X-Amz-Expires=300&X-Amz-Signature=5473db370e43548381ba9895119ade967ace1a686a88c77a65a35245993eafe9&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  2.13MB/s    in 2m 42s

2023-03-06 14:53:50 (1.03 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [5]:
data = pd.read_csv('fhvhv_tripdata_2021-06.csv.gz')
data.head()

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN

In [6]:
data.shape

(14961892, 7)

In [7]:
data.dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [8]:
fhvhv_schema = StructType([
    StructField("dispatching_base_num", StringType(), True),
    StructField("pickup_datetime", TimestampType(), True),
    StructField("dropoff_datetime", TimestampType(), True),
    StructField("PULocationID", IntegerType(), True),
    StructField("DOLocationID", IntegerType(), True),
    StructField("SR_Flag", IntegerType(), True),
    StructField("Affiliated_base_number", StringType(), True)
])

In [9]:
fhvhv = spark.read\
    .option("header", True)\
    .schema(fhvhv_schema)\
    .csv("fhvhv_tripdata_2021-06.csv.gz")

In [18]:
fhvhv.createOrReplaceTempView('fhvhv')

In [13]:
taxi_path = "../code/taxi+_zone_lookup.csv"
df_zones = pd.read_csv(taxi_path)
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [14]:
df_zones.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [15]:
zones_schema = StructType([
    StructField("LocationID", IntegerType(), True),
    StructField("Borough", StringType(), True),
    StructField("Zone", StringType(), True),
    StructField("service_zone", StringType(), True)
])

In [16]:
zones = spark.read\
        .option("header", True)\
        .schema(zones_schema)\
        .csv(taxi_path)

In [19]:
zones.createOrReplaceTempView('zones')

In [49]:
# spark.sql("""

#     SELECT 
#         dispatching_base_num,
#         Affiliated_base_number as affiliated_base_num,
#         PULocationID as pickup_location_id,
#         DOLocationID as dropoff_location_id,
#         SR_Flag as sr_flag,
#         pickup_datetime,
#         dropoff_datetime
#     FROM 
#         fhvhv
    
# """).createOrReplaceTempView('fhvhv')

In [20]:
df = spark.sql("""SELECT * FROM fhvhv""")

In [21]:
spark.sql("""
SELECT
    count(*)
FROM
    fhvhv
WHERE 
    pickup_datetime >= "2021-06-15 00:00:00"
    AND
    pickup_datetime < "2021-06-16 00:00:00"
"""
).show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

## Q2.

In [22]:
fhvhv = fhvhv.repartition(12)

In [23]:
fhvhv.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02884|2021-06-29 07:42:05|2021-06-29 07:53:43|          69|         159|   null|                B02884|
|              B02510|2021-06-14 00:15:32|2021-06-14 00:25:17|         231|         232|   null|                  null|
|              B02764|2021-06-10 00:30:05|2021-06-10 01:11:16|         230|         117|   null|                B02764|
|              B02877|2021-06-06 06:58:20|2021-06-06 07:32:26|         132|          25|   null|                B02877|
|              B02764|2021-06-02 13:55:25|2021-06-02 14:28:05|          95|         237|   null|                B02764|
|              B02682|2021-06-07 06:49:20|2021-06-07 07:32:19|          80|           1|   null|                B02682|
|              B02870|2021-06-05 15:29:02|2021-06-05 16:00:58|          70|         130|   null|                B02870|
|              B02510|2021-06-08 16:19:49|2021-06-08 16:53:45|         223|         223|   null|                  null|
|              B02764|2021-06-16 14:52:53|2021-06-16 15:49:54|         138|         265|   null|                B02764|
|              B02617|2021-06-02 00:05:19|2021-06-02 00:19:39|         148|         237|   null|                B02617|
|              B02510|2021-06-30 20:14:19|2021-06-30 20:25:54|          50|         164|   null|                  null|
|              B02765|2021-06-10 16:40:47|2021-06-10 16:52:32|         161|         186|   null|                B02765|
|              B02872|2021-06-10 03:55:05|2021-06-10 04:32:55|          76|          50|   null|                B02872|
|              B02879|2021-06-17 17:47:29|2021-06-17 19:02:58|         254|          72|   null|                B02879|
|              B02875|2021-06-26 05:58:46|2021-06-26 06:15:06|          69|          94|   null|                B02875|
|              B02510|2021-06-06 23:31:59|2021-06-06 23:41:28|         218|         215|   null|                  null|
|              B02869|2021-06-12 17:29:05|2021-06-12 17:58:32|         138|         163|   null|                B02869|
|              B02510|2021-06-20 22:55:20|2021-06-20 23:09:44|         168|          74|   null|                  null|
|              B02765|2021-06-05 12:42:54|2021-06-05 12:53:42|          95|          95|   null|                B02765|
|              B02765|2021-06-20 10:44:15|2021-06-20 11:10:32|         121|          37|   null|                B02765|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [24]:
fhvhv.write\
    .parquet("fhvhv/2021/01/", mode="overwrite")

In [31]:
!ls -lh fhvhv/2021/01/

total 581512
-rw-r--r--  1 user  staff     0B Mar  6 16:47 _SUCCESS
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00000-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00001-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00002-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00003-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00004-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00005-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00006-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00007-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00008-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00009-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00010-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet
-rw-r--r--  1 user  staff    24M Mar  6 16:47 part-00011-17d25cbc-219a-4087-b003-96c8ed4b4f22-c000.snappy.parquet

## Q3.

In [32]:
spark.sql("""
    SELECT 
        COUNT(*)
    FROM 
        fhvhv
    WHERE 
        pickup_datetime >= '2021-06-15 00:00:00' AND pickup_datetime < '2021-06-16 00:00:00'
"""
).show()

+--------+
|count(1)|
+--------+
|  452470|
+--------+

In [33]:
spark.sql("""

    WITH tripdata AS (
        SELECT
            dayofmonth(pickup_datetime) as day_of_month,
            count(1) as num_trips
        FROM
            fhvhv
        GROUP BY
            dayofmonth(pickup_datetime)
    )
    
    SELECT * 
    FROM tripdata td
    WHERE td.day_of_month = 15
    
""").show()

+------------+---------+
|day_of_month|num_trips|
+------------+---------+
|          15|   452470|
+------------+---------+

## Q4.

In [36]:
spark.sql("""

    WITH tripdata AS (
        SELECT
            PULocationID,
            DOLocationID
            pickup_datetime,
            dropoff_datetime,
            (CAST(dropoff_datetime as LONG) - CAST(pickup_datetime as LONG)) as duration_in_secs
        FROM
            fhvhv
    ),
    
    trip_duration AS (
        SELECT 
            (duration_in_secs/3600) as duration_in_hours,
            dense_rank() OVER( ORDER BY duration_in_secs DESC ) as rnk
        FROM 
            tripdata
    )
    
    SELECT 
        ROUND(td.duration_in_hours, 2) as duration_in_hours
    FROM 
        trip_duration td
    WHERE
        td.rnk = 1

""").show()

23/03/06 16:58:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:58:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:58:29 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

23/03/06 16:59:14 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:59:14 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----------------+
|duration_in_hours|
+-----------------+
|            66.88|
+-----------------+

## Q5.

If you have set the Spark in a PATH then just enter **pyspark** in command line or terminal

```
23/03/05 10:17:37 WARN Utils: Your hostname, USERs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.83.129 instead (on interface en0)
23/03/05 10:17:37 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/03/05 10:17:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Spark context Web UI available at http://192.168.83.129:4040
Spark context available as 'sc' (master = local[*], app id = local-1678007867731).
Spark session available as 'spark'.
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /___/ .__/\_,_/_/ /_/\_\   version 3.3.2
      /_/
         
Using Scala version 2.12.15 (OpenJDK 64-Bit Server VM, Java 19.0.2)
Type in expressions to have them evaluated.
Type :help for more information.
```

```
scala> spark.version
res0: String = 3.3.2
```

## Q6.

In [37]:
spark.sql("""
    
    WITH trip_count_per_location AS (
        SELECT 
            f.PULocationID,
            count(1) as num_trips,
            dense_rank() over (order by count(1) desc) as rnk
        FROM 
            fhvhv f
        GROUP BY 
            f.PULocationID
    ) 
    
    SELECT 
        tl.PULocationID,
        z.Zone,
        tl.num_trips,
        tl.rnk rank
    FROM 
        trip_count_per_location tl
    INNER JOIN 
        zones z ON tl.PULocationID = z.LocationID
    WHERE 
        tl.rnk = 1
    
""").show()

23/03/06 16:59:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:59:33 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:59:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:59:34 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

23/03/06 16:59:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:59:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:59:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/03/06 16:59:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+------------+-------------------+---------+----+
|PULocationID|               Zone|num_trips|rank|
+------------+-------------------+---------+----+
|          61|Crown Heights North|   231279|   1|
+------------+-------------------+---------+----+

# <p style="text-align: center;">Merci Beaucoup!</p>